.obra {

   .feature {

     margin-bottom: 1em;
     
     .subtitle {
       font-size: 1.1em;
       font-weight: 500;
       margin-bottom: 2px;
       color: #1f1f1f !important;
     }

     ul, p {
       font-size: 0.9em;
       margin-bottom: 0;
     }
   }
}
