.page-head {
	width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #363A41;
    display: inline-table;
    .page-title {
        font-size: 2em;
    	line-height: 1.6em;
    	margin-bottom: 0;
    }
}

.external-link {
    color: #252525;
    text-decoration: underline;
    font-size: 1.22em;
    a {
        font-weight: 500;
    }
}

.page-date {
    margin-top: 5px;
    margin-bottom: 10px;
	text-align: right;
}