$theme-colors: (
  'light': #ffffff,
  'dark': #171b1e,
  'purple': #5c116e,
  'red': #cd1d34,
  'blue': #002b95,
  'success': #26A69A,
  'info': #03A9F4,
  'black': #181b1e,
);

$font-title: 'Arial', 'Helvetica', 'sans-serif';//'Oswald';
$font-text: 'Arial', 'Helvetica', 'sans-serif';//'Helvetica';
