.category-date-items {

    li.list-group-item {
        font-size: 13px;
        line-height: 1.8;

        a {
          margin-right: auto;
          color: #4a4a4a;
        }

        &::before {
            position: absolute;
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            top: calc(50% - 3px);
            left: 12px;
            border-radius: 100%;
            background: #1c1b1b;
            opacity: 0;
            -webkit-transition: opacity 0.1s ease-in-out;
            transition: opacity 0.1s ease-in-out;
            transition-delay: 0s;
        }



        &.is-selected {
          a {
              margin-left: 10px;
          }

          &::before {
            opacity: 1;
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
          }
        }



        .remove-filter {
          display: inline-block;
          line-height: 1.9;
          font-weight: 100;
          font-size: 0.8em;
          text-decoration: underline;
          margin-right: 10px;
          cursor: pointer;
        }



    }

}
